<!DOCTYPE html>
<html lang="ru">
<head>
    {% block head %}
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}" />
    <title>{% block title %}{% endblock %}</title>
    <!-- TinyMCE with my API key -->
    <!-- TODO: change key -->
    <script src="https://cdn.tiny.cloud/1/ou74i460zclm5f25t4gitceaugxmotp3vt73gullk75cnyps/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
{% endblock %}
</head>
<body>
    <!-- Шапка -->
    <div id="header">
        <!-- Лого -->
        <a class="navbar-logo-wrapper" href="/">
            <img class="navbar-logo" src="" alt="Лого Сайта" width="100" height="30"/>
        </a>
        <!-- Навигация -->
        <ul class="navbar-menu">
            <li class="navbar-item">
                <a href="{{ url_for('main.index') }}">
                    Главная
                </a>
            </li>
            {% if current_user.is_authenticated %}
            <li class="navbar-item">
                <a href="{{ url_for('main.profile') }}">
                    Профиль
                </a>
            </li>
            {% endif %}
            {% if current_user.is_authenticated and current_user.id == 1 %}
            <li class="navbar-item">
                <a href="{{ url_for('main.list_users') }}">
                    Редактор пользователей
                </a>
            </li>
            {% endif %}
            {% if not current_user.is_authenticated %}
            <li class="navbar-item">
                <a href="{{ url_for('auth.login') }}">
                    Войти
                </a>
            </li>
            {% endif %}
        </ul>
        <!-- Логин / Логоут -->
        {% if current_user.is_authenticated %}
            <a href="{{ url_for('auth.logout') }}" class="navbar-login">
                Выйти
            </a>
        {% else %}
            <a href="{{ url_for('auth.login') }}" class="navbar-login">
                Войти
            </a>
        {% endif %}
    </div>
    <button onclick="scroll_top()" id="top-btn">TOP</button>
    <!-- Контент, зависит от текущей страницы -->
    <div id="content">{% block content %}{% endblock %}</div>
    <!-- Футер -->
    <div id="footer">
        
    </div>
    <script src="{{ url_for('static', filename='base.js') }}"></script>
</body>
<script>
  tinymce.init({
    selector: '#body',
    plugins: [
      'a11ychecker','advlist','advcode','advtable','autolink','checklist','export',
      'lists','link','image','charmap','preview','anchor','searchreplace','visualblocks',
      'powerpaste','fullscreen','formatpainter','insertdatetime','media','table','help','wordcount'

    ],

    toolbar: 'undo redo | formatpainter casechange blocks | bold italic backcolor | ' +
      'alignleft aligncenter alignright alignjustify | ' +
      'bullist numlist checklist outdent indent | removeformat | a11ycheck code table help'
  });
</script>
</html>