{% extends 'base.html' %}
{% block title %}Создать новость{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='post_create.css') }}" />
    <script src="{{ url_for('static', filename='post_create.js') }}"></script>
{% endblock %}
{% block content %}
<div class="below-header"></div>
{% with messages = get_flashed_messages() %}
   {% if messages %}
      {% for message in messages %}
         {{ message }}
      {% endfor %}
   {% endif %}
{% endwith %}
<form id="post-form" name="theForm" action="/news/create" enctype="multipart/form-data" method="POST">
    {{ form.csrf_token }}
    <div class="editor-item title-editor">
        {{ form.title.label }}
        <br>
        {{ form.title }}
        <div class="error-message">
            {{ form.title.errors[0] if form.title.errors else '' }}
        </div>
    </div>
    <div class="editor-item body-editor">
        {{ form.body.label }}
        <br>
        {{ form.body(class="mce-textarea") }}
        <div class="error-message">
            {{ form.body.errors[0] if form.body.errors else '' }}
        </div>
    </div>
    <div class="editor-submit">
        {{ form.submitBtn(class='create-post-btn') }}
    </div>
</form>
{% for field, error in form.errors.items() %}
    <div class="alert alert-error">
        {{ form[field].label }}: {{ ', '.join(errors) }}
    </div>
{% endfor %}
{% endblock %}