{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block head %}
{{ super() }}
<style type="text/css">

</style>
{% endblock %}
{% block content %}
<form action="/news/create" method="POST">
    <div>
        <label for="title"></label>
        <input type="text" id="title" name="title" placeholder="Заголовок" required>
    </div>
    <div>
        <label for="body"></label>
        <textarea id="body" name="body" required></textarea>
    </div>
    <input type="submit" value="Опубликовать новость">
</form>
{% endblock %}