{% extends "base.html" %}
{% block title %}Обратная связь{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='feedback.css') }}" />
{% endblock %}
{% block content %}
{% for field in form.errors %}
{% endfor %}
<form action="/feedback" method="POST" enctype="multipart/form-data" onsubmit="alertOnSuccess(this); return false;" >
    {{ form.hidden_tag() }}
    <div class="below-header"></div>
    <div class="div-main">
        <div class="div-label-main-1">
            <label>Обратная связь</label>
        </div>
        <div class="div-1">
            <label class="div-label-main-2">Выберите тип обращения</label>
        </div>
        <div class="div-2">
            {{ form.organization.label }}
            {% for error in form.organization.errors %}
                <div class="alert alert-error">
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
        </div>
        <div class="div-3">
            {{ form.organization }}
        </div>
        <div class="div-8">
            <div class="div-4">
                <div class="div-left">
                    <div class="div-5" style="display: flex;">
                        {{ form.inn.label }}
                        {% for error in form.inn.errors %}
                            <div class="alert alert-error">
                                <strong>{{ error }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="div-6">
                        {{ form.inn }}
                    </div>
                </div>
                <div class="div-right">
                    <div>
                        {{ form.rad.label }}
                        <!-- <label class="div-5"></label> -->
                        {% for error in form.rad.errors %}
                            <div class="alert alert-error">
                                <strong>{{ error }}</strong>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="rad">
                        {{ form.rad }}
                    </div>
                </div>
            </div>
            <div class="div-4">
            <div class="div-left">
                <div class="div-7">
                    {{ form.kpp.label }}
                    {% for error in form.kpp.errors %}
                        <div class="alert alert-error">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="div-6">
                    {{ form.kpp }}
                </div>
                <div class="div-7">
                    {{ form.phone.label }}
                    {% for error in form.phone.errors %}
                        <div class="alert alert-error">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="div-6">
                    {{ form.phone }}
                </div>
                <div class="div-7">
                    {{ form.information.label }}
                    {% for error in form.information.errors %}
                        <div class="alert alert-error">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="div-6">
                    {{ form.information }}
                </div>
            </div>
            <div class="div-right">
                <div class="div-7">
                    {{ form.name.label }}
                    {% for error in form.name.errors %}
                        <div class="alert alert-error">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="div-6">
                    {{ form.name }}
                </div>
                <div class="div-7">
                    {{ form.email.label }}
                    {% for error in form.information.errors %}
                        <div class="alert alert-error">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="div-6">
                    {{ form.email }}
                </div>
                <div class="div-7-1">
                    {{ form.preference.label }}
                    {% for error in form.preference.errors %}
                        <div class="alert alert-error">
                            <strong>{{ error }}</strong>
                        </div>
                    {% endfor %}
                </div>
                <div class="div-6">
                    {{ form.preference }}
                </div>
            </div>
            </div>
        </div>
        <div class="div-2">
            <!-- <label>Документы:</label> -->
            {{ form.docs.label }}
            {% for error in form.docs.errors %}
                <div class="alert alert-error">
                    <strong>{{ error }}</strong>
                </div>
            {% endfor %}
            <br>
            {{ form.docs }}
            <div id="files-attached"></div>
        </div>
        <div class="div-10">
            {{ form.agreement }}
            {{ form.agreement.label }}
        </div>
        <div class="div-11">
            <input value="Отправить" type="submit" />
        </div>
    </div>
</form>
<script src="{{ url_for('static', filename='feedback.js') }}"></script>
{% endblock %}

