{% extends "base.html" %}
{% block title %}Обратная связь{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='feedback.css') }}" />
{% endblock %}
{% block content %}
<form>
    <div class="below-header"></div>
    <div class="div-main">
        <div class="div-label-main-1">
            <label>Обратная связь</label>
        </div>
        <div class="div-1">
            <label class="div-label-main-2">Выберите тип обращения</label>
        </div>
        <div class="div-2">
            <label>Наименование организации:</label>
        </div>
        <div class="div-3">
            <input name="name-org" type="text" placeholder="Наименование организации">
        </div>
        <div class="div-8">
            <div class="div-4">
                <div class="div-left">
                    <div class="div-5">
                        <label>ИНН:</label>
                    </div>
                    <div class="div-6">
                        <input name="inn" type="text" placeholder="ИНН"><!-- 10 цифр-->
                    </div>
                </div>
                <div class="div-right">
                    <div>
                        <label class="div-5">Тип контрагента:</label>
                    </div>
                    <div>
                        <p>
                        <input type="radio" name="rad" value="f1" placeholder="Юридическое лицо />
                        </p>
                        <p>
                        <input type="radio" name="rad" value="f2" />
                        <label for="rad1">Госучреждения</label>
                        </p>
                        <p>
                        <input type="radio" name="rad" value="f3" Индивидуальный предприниматель />
                        </p>
                    </div>
                </div>
            </div>
            <div class="div-4">
            <div class="div-left">
                <div class="div-7">
                    <label>КПП:</label>
                </div>
                <div class="div-6">
                    <input name="kpp" type="text" placeholder="КПП"><!-- 9 цифр-->
                </div>
                <div class="div-7">
                    <label>Телефон:</label>
                </div>
                <div class="div-6">
                    <input name="tel-numb" type="tel" placeholder="+7(555)555-5555">
                </div>
                <div class="div-7">
                    <label>Информация:</label>
                </div>
                <div class="div-6">
                    <input name="info" type="text" placeholder="Информация">
                </div>
            </div>
            <div class="div-right">
                <div class="div-7">
                    <label class="div-label">ФИО:</label>
                </div>
                <div class="div-6">
                    <input name="full-name" type="text" placeholder="ФИО">
                </div>
                <div class="div-7">
                    <label>Адрес электронной почты:</label>
                </div>
                <div class="div-6">
                    <input name="email" type="email" placeholder="Адрес электроной почты">
                </div>
                <div class="div-7-1">
                    <label>Предпочтительный способ коммуникации:</label>
                </div>
                <div class="div-6">
                    <select>
                        <option name="feedback" value="tel">Телефон</option>
                        <option name="feedback" value="email">Электроная почта</option>
                    </select>
                </div>
            </div>
            </div>
        </div>
        <div class="div-2">
            <label>Документы:</label>
        </div>
        <div class="div-9">
            <label for="fileInput">Выберите файл(ы)</label>
            <input id="fileInput" type="file" multiple name="file" onchange="displayFileName()"/>
            <script>
                function displayFileName()
                {
                    const fileInput = document.getElementById('fileInput');
                    const fileName = fileInput.files[0].name;
                      alert('Выбран файл: ' + fileName);
                }
            </script>
        </div>
        <div class="div-10">
            <input name="agreement" type="checkbox">
            <label>Я даю согласие на обработку моих персональных данных</label>
        </div>
        <div class="div-11">
            <input value="ОТПРАВИТЬ" type="submit"/>
        </div>
    </div>
</form>
{% endblock %}

