{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}" />
{% endblock %}
{% block content %}
<!-- Первый пост (О нас?) (Настоящая шапка?)-->
<div>
    zalupa
</div>
<!-- Секция Деятельность -->
<section>
    <span class="pre-headline color-blue">Мы диверсифицируем наши инвестиции</span>
    <hr class="divider animated">
    <h2>Деятельность</h2>
    <div class="operations-section">
        <a class="box-link" href="/">
            <div class="box-link__wrapper">
                <figure>
                    <img class="box-link-img" style="background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 11.14%, rgba(0, 0, 0, 0) 48.56%), url({{ url_for('static', filename='op1.jpeg') }})"/>
                    <div class="box-link-caption">
                        <h3>Деятельность 1</h3>
                    </div>
                </figure>
            </div>
        </a>
        <a class="box-link" href="/">
            <div class="box-link__wrapper">
                <figure>
                    <img class="box-link-img" style="background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 11.14%, rgba(0, 0, 0, 0) 48.56%), url({{ url_for('static', filename='op2.jpeg') }})"/>
                    <div class="box-link-caption">
                        <h3>Деятельность 2</h3>
                    </div>
                </figure>
            </div>
        </a>
        <a class="box-link" href="/">
            <div class="box-link__wrapper">
                <figure>
                    <img class="box-link-img" style="background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 11.14%, rgba(0, 0, 0, 0) 48.56%), url({{ url_for('static', filename='op3.jpeg') }})"/>
                    <div class="box-link-caption">
                        <h3>Деятельность 3</h3>
                    </div>
                </figure>
            </div>
        </a>
        <a class="box-link" href="/">
            <div class="box-link__wrapper">
                <figure>
                    <img class="box-link-img" style="background-image: linear-gradient(360deg, rgba(0, 0, 0, 0.8) 11.14%, rgba(0, 0, 0, 0) 48.56%), url({{ url_for('static', filename='op4.jpeg') }})"/>
                    <div class="box-link-caption">
                        <h3>Деятельность 4</h3>
                    </div>
                </figure>
            </div>
        </a>
</section>
<!-- Секция Новости -->
<section>
    <span class="pre-headline color-blue">Новости о компании</span>
    <hr class="divider animated">
    <h2>Новости</h2>
    <!-- Карусель 3 последних новостей -->
    <div>
        <ul>
        {% for post in posts %}
            <li>
                <h4>{{ post['title'] }}</h4>
                <p>Автор: {{ post['author_username'] }}</p>
                <p>{{ post['created'].strftime('%d.%m.%Y %H:%M') }}</p>
                <a href="/news/{{ post.id }}">Подробнее</a>
                <hr>
            </li>
        {% endfor %}
        </ul>
    </div>
{% if current_user.is_authenticated %}
    <a href="/news/create">Создать</a>
{% endif %}
</section>
<!-- Лого компаний -->
<hr class="divider">
<div class="logos">
    <a class="logo-link" href="/" style="background-image: url({{ url_for('static', filename='companylogo1.jpeg') }});"></a>
    <a class="logo-link" href="/" style="background-image: url({{ url_for('static', filename='companylogo2.png') }});"></a>
    <a class="logo-link" href="/" style="background-image: url({{ url_for('static', filename='companylogo3.png') }});"></a>
    <a class="logo-link" href="/" style="background-image: url({{ url_for('static', filename='companylogo4.png') }});"></a>
</div>
{% endblock %}