{% extends "base.html" %}
{% block title %}Профиль{% endblock %}
{% block head %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}" />
{% endblock %}
{% block content %}
<div class="div-main">
    <div class="div1">
        <label>АВТОРИЗАЦИЯ</label>
    </div>
    <form action="/login" method="POST">
        <div class="div2">
            <div class="div-in">
                <input type="text" class="input" name="username" placeholder="Логин" required>
            </div>
            <div class="div-in">
                <input type="password" class="input" name="password" placeholder="Пароль" required>
            </div>
            <div class="div-in-checkbox">
                <input type="checkbox" class="input-checkbox" name="remember">
                <label>Запомнить вход</label>
            </div>
            <div class="div-in">
                <button>ВОЙТИ</button>
            </div>
        </div>
    </form>
</div>
{% endblock %}