{% extends 'base.html' %}
{% block title %}Главная{% endblock %}
{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='post.css') }}" />
{% endblock %}
{% block content %}
<div class="below-header"></div>
{% if post %}
    <div class="post">
        <h1 class="post-title">{{ post.title }}</h1>
        <hr class="post-divider">
        <div class="post-pretext">
            <p class="post-small">{{ post.created.strftime('%d.%m.%Y %H:%M') }}</p>
            <p class="post-small">{{ post.author_username }}</p>
        </div>
        {% if post.author_username != post.editor_username or post.created != post.edited %}
            <div class="post-pretext edit-pretext">
                <div class="edited-item">
                    <p class="post-small">{{ post.created.strftime('%d.%m.%Y %H:%M') }} {{ post.author_username }}</p>
                    <p class="edit-note"> (ред.) </p>
                </div>
                <div class="edited-item">
                    <p class="post-small"></p>
                    <p class="edit-note"> (ред.)</p>
                </div>
            </div>
        {% endif %}
        <div class="post-body">
            {{ post.body | safe }}
        </div>
    
    {% if current_user.is_authenticated %}
        <form action="/news/edit/{{ post.id }}">
            <input type="submit" value="Редактировать">
        </form>
    {% endif %}
    </div>
{% else %}
    <div class="post-notfound">
        <h2>Новость не найдена</h2>
        {% if error %}
            <hr>
            <p>{{ error }}</p>
        {% endif %}
    </div>
{% endif %}
{% endblock %}