{% extends "base.html" %}

{% block content %}
<ul>
    {% for user in users %}
        <li>
            <form method="POST" action="/users/edit/{{ user.id }}">
                <input type="hidden" name="_method" value="PUT">
                <div>
                    <label for="edit-username">Логин</label>
                    <input type="text" id="edit-username" name="username" placeholder="Логин" value="{{ user.username }}" required>
                </div>
                <div>
                    <label for="edit-password">Пароль</label>
                    <input type="password" id="edit-password" name="password" placeholder="Пароль">
                </div>
                <div>
                    <label for="edit-name">Имя</label>
                    <input type="text" id="edit-name" name="name" placeholder="Имя" value="{{ user.name }}" required>
                </div>
                <div>
                    <label for="edit-lastname">Фамилия</label>
                    <input type="text" id="edit-lastname" name="lastname" placeholder="Фамилия" value="{{ user.lastname }}" required>
                </div>
                {% if user.position %}
                    <div>
                        <label for="edit-position">Должность</label>
                        <input type="text" id="edit-position" name="position" placeholder="Должность" value="{{ user.position }}">
                    </div>
                {% endif %}
                <button class="button is-block is-info is-large is-fullwidth">Редактировать</button>
            </form>
        </li>
        <form method="POST" action="/users/delete/{{ user.id }}" onsubmit="return confirm('Вы уверены, что хотите удалить пользователя {{ user.username }}?');">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Удалить">
        </form>
    {% endfor %}
</ul>
<hr>
<h2>Добавить пользователя</h2>
<form method="POST" action="/users/create">
    <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="username" required placeholder="Логин" autofocus="">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-large" type="password" name="password" required placeholder="Пароль">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="name" required placeholder="Имя" autofocus="">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="lastname" required placeholder="Фамилия" autofocus="">
        </div>
    </div>
    <div class="field">
        <div class="control">
            <input class="input is-large" type="text" name="position" placeholder="Должность" autofocus="">
        </div>
    </div>
    <button class="button is-block is-info is-large is-fullwidth">Добавить пользователя</button>
</form>
{% endblock %}